p {
    line-height: 1.8;
}

#header {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../images/german_strategy_consulting.png);
    height: 800px;
}

/* KUNDEN Introduction */
#client_intro {
    background-image: linear-gradient(90deg,#002a6d, #b08829);
    /* background-image: linear-gradient(90deg, gray, lightgray); */
    background-color: #4e4e4e;
    border: white;
    padding: 26px;
    position: relative;
    top: -340px;
    left: 220px;
    width: 50%;
    z-index: 10000;
}

#client_intro p {
    color: white;
}

.projekt_name {
    color: white;
    font-size: 3.2em;
    mix-blend-mode: difference;
}


#title {
    font-size: 3.4em;
    margin: 50px 0 0 120px;
}


/* initial_situation */
#initial_situation,
#tasks_area,
#solution1,
#solution2 {
    width: 100%;
}

.initial_situation_content {
    display: flex;
    width: 100%;
}

.initial_situation_content p {
    margin: 70px 0 0 120px;
    width: 50%;
}

#old_image {
    margin: -60px 0 0 90px;
    width: 40%;
}

#old_image img, 
.sol1_left img, 
.sol2_right img {
    box-shadow: lightgray 0 10px 6px 10px;
}


/* AUGABEN */
#tasks_area {
    margin: 150px 0;
}

#tasks {
    background-color: #4e4e4e;
    display: flex;
}

#tasks h2 {
    color: white;
}

#tasks p {
    color: white;
    margin: 70px 0 70px 250px;
    width: 50%;
}


/* LOSUNG 1 */
#solution_block1 {
    display: flex;
    margin: 70px 0 190px 0;
    width: 100%;
}

.sol1_left {
    margin: 0 0 0 120px;
    width: 40%;
}

.sol1_right {
    margin: -50px 0 0 -20px;
    width: 46%;
}

h3 {
    font-size: 2em;
}


/* LOSUNGEN 2 */
#solution_block2 {
    display: flex;
    margin: 0;
    width: 100%;
}

#solution2 h3 {
    margin: 70px 0 0 120px;
    width: 50%;
}

.sol2_left {
    margin: 70px 0 0 120px;
    width: 50%;
}

.sol2_right {
    margin: -32px 0 0 90px;
    width: 40%;
}

/* ZUR Webseite Link */
#link {
    text-align: center;
    margin: 150px;
}

#webseite_link {
    background-color: #5c5c59;
    border: solid #5c5c59 1px;
    box-shadow: lightgray 0 8px 10px 4px;
    color: white;
    font-size: 1em;
    font-weight: lighter;
    padding: 16px 92px;
}

#webseite_link:hover {
    background-color: #5c5c59;
    border: solid #5c5c59 1px;
    color: #EBF018;
    font-size: 1em;
    font-weight: lighter;
    padding: 16px 92px;
}


/* RESPONSIVE */
#resposinve {
    text-align: center;
    margin: 100px 0 0 0;
}

#resposinve h3 {
    margin: 0 0 -14px 0;
}
