/*----------- max-width: 2560px -----------*/
@media screen and (max-width: 2560px) and (min-width: 1441px) {
    p {
        font-size: 2em;
    }

    #header {
        height: 800px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("../images/german_strategy_consulting.png");
    }
    
    /* KUNDEN Introduction */
    #kunden_intro {
        background-image: linear-gradient(90deg,#002a6d, #b08829);
        /* background-image: linear-gradient(90deg, gray, lightgray); */
        background-color: #4e4e4e;
        border: white;
        padding: 30px;
        position: relative;
        top: -200px;
        left: 190px;
        width: 70%;
        z-index: 10000;
    }
    
    .projekt_name {
        color: white;
        font-size: 4.2em;
        text-align: center;
    }
    
    
    #title {
        font-size: 4em;
        margin: 50px 0 0 190px;
    }
    
    .ausgangssituation_content {
        display: flex;
        width: 100%;
    }
    
    .ausgangssituation_content p {
        margin: 70px 0 0 190px;
        width: 44%;
    }
    
    #old_image {
        margin: -60px 0 0 330px;
        width: 40%;
    }

    #old_image img, 
    .loe1_left img, 
    .loe2_right img {
        box-shadow: lightgrey 0 10px 6px 10px;
        width: 700px;
        height: auto;
    }
    
    
    /* AUGABEN */
    #aufgaben_bereich {
        margin: 150px 0;
    }
    
    #aufgaben {
        background-color: #4e4e4e;
        display: flex;
    }
    
    
    #aufgaben p {
        color: white;
        margin: 70px 0 70px 600px;
        width: 50%;
    }
    
    
    /* LOSUNG 1 */
    #loesung_block1 {
        display: flex;
        margin: 70px 0 190px 0;
        width: 100%;
    }
    
    .loe1_left {
        margin: 0 0 0 180px;
        width: 40%;
    }
    
    .loe1_right {
        margin: -50px 0 0 120px;
        width: 40%;
    }
    
    h3 {
        font-size: 3.2em;
    }
    
    
    /* LOSUNGEN 2 */
    #loesung_block2 {
        display: flex;
        margin: 0;
        width: 100%;
    }
    
    #loesung2 h3 {
        margin: 70px 0 0 180px;
    }
    
    .loe2_left {
        margin: 70px 0 0 180px;
        width: 46%;
    }
    
    .loe2_right {
        margin: -32px 0 0 410px;
        width: 40%;
    }


    /* ZUR Webseite Link */
    #link {
        text-align: center;
        margin: 150px;
    }

    #webseite_link {
        background-color: #5c5c59;
        border: solid #5c5c59 1px;
        box-shadow: lightgray 0 8px 10px 4px;
        color: white;
        font-size: 3.5em;
        font-weight: lighter;
        padding: 16px 92px;
    }

    #webseite_link:hover {
        background-color: #5c5c59;
        border: solid #5c5c59 1px;
        color: #EBF018;
        font-size: 3.5em;
        font-weight: lighter;
        padding: 16px 92px;
    }

    
    /* RESPONSIVE */
    #resposinve {
        text-align: center;
        margin: 100px 0 0 0;
    }
    
    #resposinve h3 {
        margin: 0 0 -14px 0;
    }
}
/*----------- max-width: 2560px -----------*/




/*----------- max-width: 1024px -----------*/
@media screen and (max-width: 1024px) {
    #header {
        height: 600px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("../images/german_strategy_consulting.png");
    }
    
    /* KUNDEN Introduction */
    #kunden_intro {
        background-image: linear-gradient(90deg,#002a6d, #b08829);
        /* background-image: linear-gradient(90deg, gray, lightgray); */
        background-color: #4e4e4e;
        border: white;
        padding: 20px;
        position: relative;
        top: -270px;
        left: 140px;
        width: 70%;
        z-index: 10000;
    }
    
    .projekt_name {
        color: white;
        font-size: 3.2em;
    }
    
    
    #title {
        font-size: 3em;
        margin: 50px 0 0 90px;
    }
    
    .ausgangssituation_content {
        display: flex;
        width: 100%;
    }
    
    .ausgangssituation_content p {
        margin: 70px 0 0 90px;
        width: 44%;
    }
    
    #old_image {
        margin: -60px 0 0 30px;
        width: 40%;
    }
    
    
    /* AUGABEN */
    #aufgaben_bereich {
        margin: 150px 0;
    }
    
    #aufgaben {
        background-color: #4e4e4e;
        display: flex;
    }
    
    
    #aufgaben p {
        color: white;
        margin: 70px 0 70px 160px;
        width: 46%;
    }
    
    
    /* LOSUNG 1 */
    #loesung_block1 {
        display: flex;
        margin: 70px 0 190px 0;
        width: 100%;
    }
    
    .loe1_left {
        margin: 0 0 0 90px;
        width: 40%;
    }
    
    .loe1_right {
        margin: -50px 0 0 50px;
        width: 40%;
    }
    
    h3 {
        font-size: 2em;
    }
    
    
    /* LOSUNGEN 2 */
    #loesung_block2 {
        display: flex;
        margin: 0;
        width: 100%;
    }
    
    #loesung2 h3 {
        margin: 70px 0 0 90px;
    }
    
    .loe2_left {
        margin: 70px 0 0 90px;
        width: 40%;
    }
    
    .loe2_right {
        margin: 90px 0 0 90px;
        width: 40%;
    }

    
    /* RESPONSIVE */
    #resposinve {
        text-align: center;
        margin: 100px 0 0 0;
    }
    
    #resposinve h3 {
        margin: 0 0 -14px 0;
    }
}



/*----------- max-width: 896px -----------*/
@media screen and (max-width: 896px) {
    #header {
        padding: 40px 0;
        margin: -40px 0 0 0;
        height: 600px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("../images/german_strategy_consulting.png");
    }
    
    /* KUNDEN Introduction */
    #kunden_intro {
        background-image: linear-gradient(90deg,#002a6d, #b08829);
        /* background-image: linear-gradient(90deg, gray, lightgray); */
        background-color: #4e4e4e;
        border: white;
        padding: 20px;
        position: relative;
        top: -270px;
        left: 120px;
        width: 70%;
        z-index: 10000;
    }
    
    .projekt_name {
        color: white;
        font-size: 2.8em;
    }
    
    
    #title {
        font-size: 3em;
        margin: 0;
        text-align: center;
    }

    #ausgangssituation, 
    #aufgaben_bereich, 
    #loesung1, 
    #loesung2 {
        width: 100%;
        margin: -180px 0 0 0;
    }
    
    .ausgangssituation_content {
        display: block;
        width: 100%;
    }
    
    .ausgangssituation_content p {
        margin: 40px 0 0 60px;
        width: 88%;
    }
    
    #old_image {
        margin: 60px 0 0 270px;
        width: auto;
    }
    
    /* AUGABEN */
    #aufgaben_bereich {
        margin: 150px 0 60px 0;
    }
    
    #aufgaben {
        background-color: #4e4e4e;
        display: block;
        padding: 40px 0;
    }
    
    #aufgaben p {
        color: white;
        margin: 70px 0 0 64px;
        width: 90%;
    }
    
    
    /* LOSUNG 1 */
    #loesung1 {
        margin: 0 !important;
    }

    #loesung_block1 {
        display: flex;
        flex-direction: column-reverse;
        margin: 70px 0 190px 0;
        width: 100%;
    }
    
    .loe1_left {
        margin: 60px 0 0 250px;
        width: auto;
    }
    
    .loe1_right {
        margin: -50px 0 0 65px;
        width: 87%;
    }
    
    h3 {
        font-size: 2em;
        text-align: center;
    }
    
    
    /* LOSUNGEN 2 */

    #loesung2 {
        margin: 0 !important;
    }

    #loesung_block2 {
        display: block;
        margin: 0;
        width: 100%;
    }
    
    #loesung2 h3 {
        margin: 0 0 0 50px;
        width: 90%;
    }
    
    .loe2_left {
        margin: 0 0 70px 66px;
        width: 86%;
    }
    
    .loe2_right {
        margin: 60px 0 0 250px;
        width: auto;
    }
    
}



/*----------- max-width: 480px -----------*/
@media screen and (max-width: 480px) {
    #header {
        padding: 40px 0;
        margin: -40px 0 0 0;
        height: 600px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image: url("../images/german_strategy_consulting.png");
    }
    
    /* KUNDEN Introduction */
    #kunden_intro {
        background-image: linear-gradient(90deg,#002a6d, #b08829);
        /* background-image: linear-gradient(90deg, gray, lightgray); */
        background-color: #4e4e4e;
        border: white;
        padding: 20px;
        position: relative;
        top: -490px;
        left: 0;
        width: auto;
        z-index: 10000;
    }
    
    .projekt_name {
        color: white;
        font-size: 2.2em;
        text-align: center;
    }
    
    
    #title {
        font-size: 2.5em;
        margin: 0;
        text-align: center;
    }

    /* Ausgangssituation */
    #ausgangssituation {
        margin: -100px 0;
    }

    #ausgangssituation, 
    #aufgaben_bereich, 
    #loesung1, 
    #loesung2 {
        width: 100%;
        margin: -360px 0 0 0;
    }
    
    .ausgangssituation_content {
        display: block;
        width: 100%;
    }
    
    .ausgangssituation_content p {
        margin: 40px 0 0 30px;
        width: 90%;
    }
    
    #old_image {
        margin: 60px 0 0 36px;
        width: auto;
    }
    
    /* AUGABEN */
    #aufgaben_bereich {
        margin: 150px 0 60px 0;
    }
    
    #aufgaben {
        background-color: #4e4e4e;
        display: block;
        padding: 40px 0;
    }
    
    #aufgaben p {
        color: white;
        margin: 70px 0 0 30px;
        width: 90%;
    }

    #old_image img, 
    .loe1_left img, 
    .loe2_right img {
        box-shadow: lightgrey 0 10px 6px 10px;
        width: 300px;
        height: auto;
    }
    
    
    /* LOSUNG 1 */
    #loesung_block1 {
        display: flex;
        flex-direction: column-reverse;
        margin: 70px 0 190px 0;
        width: 100%;
    }
    
    .loe1_left {
        margin: 60px 0 0 38px;
        width: auto;
    }
    
    .loe1_right {
        margin: -50px 0 0 28px;
        width: 90%;
    }
    
    h3 {
        font-size: 2em;
        text-align: center;
    }
    
    
    /* LOSUNGEN 2 */
    #loesung_block2 {
        display: block;
        margin: 0;
        width: 100%;
    }
    
    #loesung2 h3 {
        margin: -100px 0 0 24px;
    }
    
    .loe2_left {
        margin: 0 0 70px 30px;
        width: 90%;
    }
    
    .loe2_right {
        margin: 60px 0 0 38px;
        width: auto;
    }

    /* ZUR Webseite */
    #link {
        margin: 100px;
        text-align: center;
    }

    #webseite_link {
        background-color: #5c5c59;
        border: solid #5c5c59 1px;
        color: white;
        font-size: 1.2em;
        font-weight: lighter;
        padding: 12px 14px;
    }

    #webseite_link:hover {
        background-color: #5c5c59;
        border: solid #5c5c59 1px;
        color: #EBF018;
        font-size: 1.2em;
        font-weight: lighter;
        padding: 12px 14px;
    }
    
}
