@media screen and (max-width: 1024px) {
  #wrapper {
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
  }

  /*----------- HEADER -----------*/
  header {
    display: flex;
    position: relative;
    z-index: 9999;
    height: 700px;
  }

  #myname {
    color: #fff;
    font-size: 3em;
    margin: 50px 0 0 40px;
  }


  /*----------- NAV -----------*/
  nav {
    position: absolute;
    right: 174px;
    margin: 50px 0 0 0;
  }

  nav li a,
  footer li a {
    color: #fff;
    font-size: 1.3em;
  }

  nav ul {
    display: flex;
  }

  nav li,
  footer li {
    margin: 0 8% 0 0;
  }

  #myname a:hover,
  nav li a:hover,
  footer li a:hover,
  footer h1 a:hover {
    color: #ebf018;
    transition: all 0.3s ease-in;
  }

  /*----------- ASIDE -----------*/
  #vertical_nav {
    position: fixed;
    top: 200px;
    left: 0;
  }

  .git,
  .email {
    display: inline-block;
    margin: 0 0 30% 0;
  }

  /*----------- top_intro -----------*/
  #top_intro {
    position: absolute;
    right: 36px;
    top: 100px;
    width: 50%;
    z-index: 10000;
  }

  #top_intro #frontend {
    color: #fff;
    font-size: 3.3em;
  }

  #top_intro #frontend::first-letter {
    font-size: 1.3em;
  }

  #top_intro p {
    color: rgb(252, 252, 252);
    font-size: 1.4em;
  }

  /*----------- headline -----------*/
  #headline {
    font-size: 2.8em;
    margin: 0px 0 0 120px;
  }

  #headline::first-letter {
    font-size: 1.5em;
  }

  /*----------- PROJEKTE -----------*/
  #img1,
  #img2 {
    display: inline-block;
  }

  #projekte {
    display: flex;
    width: 100%;
  }
  

  #works1 {
    margin: 0 70px 60px 60px;
    position: relative;
    width: 46%;
    z-index: 1;
  }

  #works2 {
    margin: 40px 0 0 0;
    width: 45%;
  }

  .hover-parent img {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .hover-mask {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    font-size: 1.1em;
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 42px;
    right: 0;
    padding: 30px 30px 0 30px;
    padding-bottom: 0px;
    opacity: 0;
    text-align: center;
    height: 165px;
    width: 68%;
  }

  .hover-parent:hover .hover-mask {
    opacity: 1;
    transition: all 0.8s ease;
    padding-bottom: 0;
  }


  #referenz {
    box-shadow: whitesmoke 0 2px 10px 8px;
    padding: 10px;
    margin: -20px 0 0 40px;
    text-align: center;
    width: 76%;
  }

  .linksite {
    border-bottom: 3px #ebf018 solid !important;
  }

  .project_todo {
    margin: 33px 0 0 44px;
    width: 50%;
    box-shadow: whitesmoke 0 10px 10px 8px;
    padding: 10px;
  }

  /*----------- SKILLS -----------*/
  .headline {
    float: left;
  }

  .prog_tools {
    float: right;
    font-size: 1.2em;
    letter-spacing: 1px;
    position: relative;
    top: 20px;
    right: 120px;
  }

  #skills {
    background: linear-gradient(180deg, #fdfdfd, lavender);
    clip-path: polygon(10% 0, 100% 0%, 85% 100%, 0% 100%);
    clear: both;
    display: flex;
    margin: 0 0 70px 0;
    padding: 30px 0;
    width: 100%;
  }

  #skills h2 {
    font-size: 2.4em;
    margin: 0;
  }

  #Programmiersprache {
    margin: 0 0 0 120px;
    width: 40%;
  }

  #tools {
    margin: 0 0 0 90px;
    width: 40%;
  }

  /*----------- MY STORY -----------*/
  #about p {
    margin: 30px 0 0 120px;
    width: 80%;
  }

  #about h2 {
    margin: 40px 0;
    text-align: center;
  }

  #lebenslauf {
    background-color: #5c5c59;
    border: solid #5c5c59 1px;
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    padding: 10px 52px;
  }

  #lebenslauf:hover {
    background-color: #5c5c59;
    border: solid #5c5c59 1px;
    color: #ebf018;
    font-size: 1.2em;
    font-weight: lighter;
    padding: 10px 52px;
  }

  .gitlink,
  .wbslink {
    border-bottom: solid 2px #e2e646;
  }

  /*----------- KONTAKT -----------*/
  #kontakt {
    background-color: #fdfdfd;
    padding: 40px 0;
    text-align: center;
    margin: 100px 0;
    width: 100%;
  }

  #email_adresse {
    /* font-size: 2.4em; */
    position: relative;
  }

  #kontakt a::after {
    border-bottom: solid 4px #e2e646;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.3s ease;
    width: 0;
  }

  #kontakt a:hover::after {
    width: 100%;
  }


  /*----------- FOOTER -----------*/
  footer {
    background-color: #5c5c59;
    display: flex;
    margin: -100px 0;
  }

  footer h1,
  footer a {
    color: #fff;
  }

  footer ul {
    display: flex;
    margin: 70px 0 0 180px;
    width: auto;
  }

  footer li {
    float: left;
  }

  footer h1 {
    color: #fff;
    font-size: 3em;
    padding: 0 0 40px 0;
    margin: 50px 0 0 80px;
  }
}

/*----------- max-width: 896px -----------*/
@media screen and (max-width: 896px) {
  #wrapper {
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 896px;
  }

  /*----------- HEADER -----------*/
  header {
    display: block;
    position: relative;
    z-index: 9999;
    height: 500px;
  }


  #myname {
    color: #fff;
    font-size: 2em;
    margin: 40px 0 0 40px;
  }


  /*----------- NAV -----------*/
  nav {
    position: absolute;
    right: 92px;
    margin: -43px 0 0 0;
  }

  nav li a,
  footer li a {
    color: #fff;
    font-size: 1.3em;
  }

  nav ul {
    display: flex;
  }

  nav li,
  footer li {
    margin: 0 6% 0 0;
  }

  #myname a:hover,
  nav li a:hover,
  footer li a:hover,
  footer h1 a:hover {
    color: #ebf018;
    transition: all 0.3s ease-in;
  }

  /*----------- ASIDE -----------*/
  #vertical_nav {
    position: fixed;
    top: 200px;
    left: -28px;
  }

  .git,
  .email {
    display: inline-block;
    margin: 0 0 10px 0;
  }

  /*----------- top_intro -----------*/
  #top_intro {
    position: absolute;
    right: 36px;
    top: 100px;
    width: 46%;
    z-index: 10000;
  }

  #top_intro #frontend {
    color: #fff;
    font-size: 2em;
  }

  #top_intro #frontend::first-letter {
    font-size: 1.6em;
  }

  #top_intro p {
    color: rgb(252, 252, 252);
    font-size: 1.1em;
  }

  /*----------- headline -----------*/
  #headline {
    font-size: 2.3em;
    margin: 0 0 0 70px;
  }

  #headline::first-letter {
    font-size: 1.5em;
  }

  /*----------- PROJEKTE -----------*/
  #img1,
  #img2 {
    display: inline-block;
  }

  #img2 {
    margin: 0 0 0 18%;
  }

  #projekte {
    display: block;
    width: 100%;
  }

  #projekte_title {
    margin: 50px 0 0 0;
  } 

  #works1 {
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  #works2 {
    margin: 100px 0 120px 0;
    width: 100%;
  }

  .hover-parent img {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .hover-mask {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    font-size: 1.1em;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 84px;
    right: 0;
    padding: 120px 0;
    padding-bottom: 120px;
    padding-bottom: 0;
    opacity: 0;
    text-align: center;
    height: 46%;
    width: 78%;
  }

  .hover-parent:focus .hover-mask {
    opacity: 1;
    transition: all 0.8s ease;
    padding-bottom: 0;
  }

  #referenz {
    box-shadow: whitesmoke 0 2px 10px 8px;
    padding: 10px;
    margin: -70px 0 0 80px;
    text-align: center;
    width: 80%;
  }

  #referenz h4 {
    text-align: center;
  }

  .linksite {
    border-bottom: 3px #ebf018 solid !important;
  }

  .project_todo {
    margin: 30px 0 0 94px;
    width: 80%;
  }

  .video {
    margin: 0;
    height: auto;
    width: 100%;
  }

  /*----------- SKILLS -----------*/
  .headline {
    float: left;
  }

  .prog_tools {
    float: none;
    font-size: 1.1em;
    letter-spacing: 0;
    position: relative;
    top: 90px;
    right: 100px;
    width: auto;
  }

  #skills {
    background: linear-gradient(180deg, #fdfdfd, lavender);
    clip-path: polygon(10% 0, 100% 0%, 85% 100%, 0% 100%);
    clear: both;
    display: block;
    margin: 120px 0 70px 0;
    padding: 30px 0;
    text-align: center;
    width: 100%;
  }

  #skills h2 {
    font-size: 1.8em;
    margin: 0;
  }

  #Programmiersprache {
    margin: 0 auto;
    width: 80%;
  }

  #tools {
    margin: 0 auto;
    width: 80%;
  }

  /*----------- MY STORY -----------*/
  #about p {
    margin: 30px 0 0 70px;
    width: 80%;
  }

  #about h2 {
    margin: 40px 0;
    text-align: center;
  }

  #lebenslauf {
    background-color: #5c5c59;
    border: solid #5c5c59 1px;
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    padding: 10px 52px;
  }

  #lebenslauf:hover {
    background-color: #5c5c59;
    border: solid #5c5c59 1px;
    color: #ebf018;
    font-size: 1.2em;
    font-weight: lighter;
    padding: 10px 52px;
  }

  .gitlink,
  .wbslink {
    border-bottom: solid 2px #e2e646;
  }

  /*----------- KONTAKT -----------*/
  #kontakt {
    background-color: #fdfdfd;
    padding: 20px 0;
    text-align: center;
    margin: 80px 0;
    width: 100%;
  }

  #email_adresse {
    position: relative;
  }

  #kontakt a::after {
    border-bottom: solid 4px #e2e646;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.3s ease;
    width: 0;
  }

  #kontakt a:hover::after {
    width: 100%;
  }


  #kontakt p {
    margin: 0 0 0 16px;
    width: 90%;
  }

  /*----------- FOOTER -----------*/
  footer {
    background-color: #5c5c59;
    display: flex;
    margin: -78px 0;
  }

  footer h1,
  footer a {
    color: #fff;
  }

  footer ul {
    display: flex;
    margin: 38px 0 0 70px;
    /* position: relative;
        left: 100px; */
    width: auto;
  }

  footer li {
    float: left;
  }

  footer h1 {
    color: #fff;
    font-size: 2em;
    padding: 20px 0 22px 0;
    margin: 10px 0 0 70px;
  }
}

/*----------- max-width: 480px -----------*/
@media screen and (max-width: 500px) {

  #wrapper {
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
  }

  /*----------- HEADER -----------*/
  header {
    display: block;
    position: relative;
    z-index: 9999;
    height: 700px;
  }

  #myname {
    font-size: 1.3em;
    margin: 0;
    position: absolute;
    right: 30px;
    top: 30px;
  }


  /*----------- NAV -----------*/
  nav {
    position: fixed;
    bottom: -12px;
    right: 0;
    margin: 0;
    z-index: 100;
    background-color: #5c5c59;
    padding: 9px 0;
    width: 100vw;
  }

  nav li a,
  footer li a {
    color: #fff;
    font-size: 1.1em;
  }

  nav ul {
    display: flex;
  }

  nav li,
  footer li {
    margin: 0 4% 0 -1%;
  }

  nav li:nth-of-type(n + 5) a {
    padding: 8px 5px;
  }

  #myname a:hover,
  nav li a:hover,
  footer li a:hover,
  footer h1 a:hover {
    color: #ebf018;
    transition: all 0.3s ease-in;
  }

  /*----------- ASIDE -----------*/
  #vertical_nav {
    position: fixed;
    top: 200px;
    left: -28px;
  }

  .git,
  .email {
    display: none;
    margin: 0 0 10px 0;
  }

  /*----------- top_intro -----------*/
  #top_intro {
    position: absolute;
    right: 36px;
    top: 230px;
    overflow: hidden;
    width: 80%;
    z-index: 1;
  }

  #top_intro #frontend {
    color: #5c5c59;
    font-size: 2em;
  }

  #top_intro #frontend::first-letter {
    font-size: 1.6em;
  }

  #top_intro p {
    color: #5c5c59;
    font-size: 1.2em;
  }

  #frontend {
    font-size: 2em;
    color: #fff;
    animation: flowing 5s linear infinite;
    transform: translateX(100%); /*初期位置*/
  }

  @keyframes flowing {
    100% {
      transform: translateX(-100%);
    }
  }

  /*----------- headline -----------*/
  #headline {
    font-size: 2.5em;
    margin: 50px 0 0 36px;
  }


  #headline::first-letter {
    font-size: 1.5em;
  }

  /*----------- PROJEKTE -----------*/
  #projekte_title {
    margin: 150px 0 0 0 !important;
  }

  #img1,
  #img2 {
    display: inline-block;
  }

  #projekte {
    display: block;
    width: 100%;
  }

  #works1 {
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  #works2 {
    margin: 100px 0 0 0;
    width: 100%;
  }

  .hover-parent img {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .hover-mask {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    font-size: 1em;
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 41px;
    right: 0;
    padding: 0 30px;
    opacity: 0;
    align-items: center;
    height: 176px;
    margin: 0;
  }

  .hover-parent:focus .hover-mask {
    opacity: 1;
    transition: all 0.8s ease;
    padding-bottom: 0;
  }

  #referenz {
    box-shadow: whitesmoke 0 2px 10px 8px;
    padding: 10px;
    margin: 0 30px;
    text-align: center;
    width: auto;
  }

  .linksite {
    border-bottom: 3px #ebf018 solid !important;
  }

  .project_todo {
    margin: 30px 30px;
    width: auto;
  }

  .video {
    margin: 0 0 0 -30px;
    height: auto;
    width: 100%;
  }

  /*----------- SKILLS -----------*/
  .headline {
    float: left;
  }

  .prog_tools {
    float: none;
    font-size: 1.1em;
    letter-spacing: 0;
    position: relative;
    top: 130px;
    right: 110px;
    width: auto;
  }

  #skills {
    background: linear-gradient(180deg, #fdfdfd, lavender);
    clip-path: polygon(10% 0, 100% 0%, 85% 100%, 0% 100%);
    clear: both;
    display: block;
    margin: 146px 0 0 0;
    padding: 30px 0;
    text-align: center;
    width: 100%;
  }

  #skills h2 {
    font-size: 1.8em;
    margin: 0;
  }

  #Programmiersprache {
    margin: 0 auto;
    width: 80%;
  }

  #tools {
    margin: 0 auto;
    width: 80%;
  }

  /*----------- MY STORY -----------*/
  #about p {
    margin: 30px 0 0 40px;
    width: 80%;
  }

  #about h2 {
    margin: 40px 0;
    text-align: center;
  }

  #lebenslauf {
    background-color: #5c5c59;
    border: solid #5c5c59 1px;
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    padding: 10px 52px;
  }

  #lebenslauf:hover {
    background-color: #5c5c59;
    border: solid #5c5c59 1px;
    color: #ebf018;
    font-size: 1.2em;
    font-weight: lighter;
    padding: 10px 52px;
  }

  .gitlink,
  .wbslink {
    border-bottom: solid 2px #e2e646;
  }

  /*----------- KONTAKT -----------*/
  #kontakt {
    background-color: #fdfdfd;
    padding: 20px 0;
    text-align: center;
    margin: 80px 0;
    width: 100%;
  }

  #email_adresse {
    position: relative;
  }

  #kontakt a::after {
    border-bottom: solid 4px #e2e646;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    transition: all 0.4s ease;
    -webkit-transition: all 0.3s ease;
    width: 0;
  }

  #kontakt a:hover::after {
    width: 100%;
  }


  /*----------- FOOTER -----------*/
  footer {
    background-color: #5c5c59;
    display: block;
    margin: -78px 0;
  }

  footer h1,
  footer a {
    color: #fff;
  }

  footer ul {
    display: flex;
    margin: 0;
    width: auto;
  }

  footer li {
    float: left;
  }

  footer h1 {
      display: none;
  }
}
