@charset "UTF-8";

* {
    font-family: 'Lora', "Noto Serif JP", serif;
    color: #333333;
    font-size: 100.1%;
    line-height: 1.5;
  }
  
  body {
    margin: -10px 0;
    padding: 0;
    background: #fff;
  }

  #wrapper {
    background: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }
  
  ul {
    list-style: none;
  }

  p {
    color: #464646;
    font-size: 1.2em;
  }
  
  /* verboten Bilder zu speichern */
  img {
    pointer-events: none; 
  }

  /* css für IE8 */
a,
a:link,
a:focus {
  text-decoration: none;
}


/*----------- HEADER -----------*/
header {
    display: flex;
    position: relative;
    z-index: 9999;
    background: url(images/_MG_0850\ 2.jpg)no-repeat;
    height: 900px;
}

#head_img {
    position: absolute;
    top: 0;
}

#head_img img {
    width: 100%;
    height: auto;
}

#myname {
    color: #fff;
    font-size: 3.5em;
    margin: 50px 0 0 80px;
    /* padding: 20px 0; */
}

#myname a {
    color: #fff;
}

/*----------- NAV -----------*/
nav {
    position: absolute;
    /* top: 60px; */
    right: 160px;
    margin: 60px 0 0 0;
}

nav li a, footer li a {
    color: #fff;
    font-size: 1.5em;
}

nav ul {
    display: flex;
}

nav li, footer li {
    margin: 0 8% 0 0;
}

#myname a:hover, nav li a:hover, footer li a:hover, footer h1 a:hover {
    color: #EBF018;
    transition: all 0.3s ease-in;
}


/*----------- ASIDE -----------*/
#vertical_nav {
    position: fixed;
    top: 200px;
    left: 40px;
}

.git, .email {
    display: inline-block;
    margin: 0 0 30% 0;
}


/*----------- top_intro -----------*/
#top_intro {
    position: absolute;
    right: 58px;
    top: 200px;
    width: 48%;
    z-index: 10000;
}

#top_intro #frontend {
    color: #fff;
    font-size: 3.3em;
}

#top_intro #frontend::first-letter {
    font-size: 1.3em;
}

#top_intro p {
    color: rgb(252, 252, 252);
    font-size: 1.5em;
}


/*----------- ueberschrift -----------*/
#ueberschrift {
    font-size: 3em;
    margin: 50px 0 0 170px;
}

#ueberschrift::first-letter { /*重複してるもしくは同じcssがあるから統一する*/
    font-size: 1.5em;
}


/*----------- PROJEKTE -----------*/
#img1, #img2 {
    display: inline-block;
}

#projekte {
    display: flex;
    width: 100%;
}

#works1 {
    margin: 0 90px 0 130px;
    position: relative;
    width: 46%;
    z-index: 1;
}

#works2 {
    margin: 40px 0 0 0;
    width: 45%;
}

.hover-parent img {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.hover-mask {
    background: rgba(0,0,0,0.6);
    color: #fff;
    display: flex;
    font-size: 1.1em;
    position: absolute;
    top: 46px;
    bottom: 0;
    left: 63px;
    right: 0;
    padding: 90px 30px 0 30px;
        padding-bottom: 0px;
    opacity: 0;
    /* align-items: center; */
    text-align: center;
    height: 204px;
    width: 70%;
} 


.hover-parent:hover .hover-mask {
    opacity: 1;
    transition: all 0.8s ease;
    padding-bottom: 0;
}
/*//////////////////////*/


#referenz {
    box-shadow: whitesmoke 0 2px 10px 8px;
    padding: 10px;
    margin: -70px 0 0 40px;
    text-align: center;
    width: 84%;
}

.linkseite {
    border-bottom: 3px #EBF018 solid !important;
}

.uberschit {
    margin: 0 0 0 44px;
    width: 50%;
}

/*----------- SKILLS -----------*/
.ueberschrift {
    /* display: inline-block; */
    float: left;
}

.prog_tools {
    float: right;
    font-size: 1.2em;
    letter-spacing: 1px;
    position: relative;
    top: 100px;
    right: 280px;
}

#skills {
    background-color: #fdfdfd;
    clear: both;
    display: flex;
    /* height: 400px; */
    padding: 30px 0;
    width: 100%;
}

#skills h2 {
    font-size: 2.4em;
    margin: 0;
}

#Programmiersprache {
    margin: 0 0 0 170px;
    width: 40%;
}

#tools {
    margin: 0 0 0 140px;
    width: 40%;
}


/*----------- MY STORY -----------*/
#about p {
    margin: 30px 0 0 170px;
    width: 80%;
}

#about h2 {
    margin: 40px 0;
    text-align: center;
}

#lebenslauf {
    background-color: #5c5c59;
    border: solid #5c5c59 1px;
    color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    padding: 10px 52px;
}

#lebenslauf:hover {
    background-color: #5c5c59;
    border: solid #5c5c59 1px;
    color: #EBF018;
    font-size: 1.2em;
    font-weight: lighter;
    padding: 10px 52px;
}

.gitlink, .wbslink {
    border-bottom: solid 2px #E2E646;
}

/*----------- KONTAKT -----------*/
#kontakt {
    background-color: #fdfdfd;
    padding: 40px 0;
    text-align: center;
    margin: 100px 0;
    width: 100%;
}

#email_adresse {
    font-size: 2.4em;
    position: relative;
    /* text-shadow: 1px 1px 2px #5c5c59; */
}

#kontakt a::after {
    border-bottom: solid 2px #E2E646;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    transition: all .4s ease;
    -webkit-transition: all .3s ease;
    width: 0;
}

#kontakt a:hover::after {
    width: 100%;
}

#email_adresse:hover {
    font-size: 2.4em;
}

/*----------- FOOTER -----------*/
footer {
    background-color: #5c5c59;
    display: flex;
    margin: -100px 0;
}

footer h1, footer a {
    color: #fff;
}

footer ul {
    display: flex;
    margin: 70px 0 0 180px;
    /* position: relative;
    left: 500px; */
    width: auto;
}

footer li {
    float: left;
}

footer h1 {
    color: #fff;
    font-size: 3.5em;
    padding: 0 0 40px 0;
    margin: 50px 0 0 80px;
}

.typed-cursor {
    display: none;
}


/* scroll down, elements come up from bottom */
  .fadeInUp {
    opacity : 0;
    transform: translateY(100px);
    transition: 1s;
  }
